.Nav {
    margin: 0 0;
    padding: 0 40px 0 0;
    background-color: #F6F3EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inika", serif;
    height: 10vh;
    opacity: 95%;
}

.Navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.Nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 25px;
    font-size: clamp(1rem, calc(1vw + .8rem), 2rem);
    margin: 0;
    padding: 0;
}

.Nav img {
    max-height: 50px;
    max-width: 50px;
}

.mainNav {
    margin-left: 20px;
}

.mainNav li {
    padding-left: 10px;
    padding-right: 10px;
}

.name {
    font-size: clamp(1rem, calc(2vw + .5rem), 4rem);
    margin: 0;
    margin-left: 50px;
    flex: 1;
}

.Nav .Links {
    flex: 1;
    justify-content: flex-end;
}

.linkedin {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: -10px;
}

.Github {
    width: 40px;
    height: 40px;
}

.Resume {
    margin-top: 5px;
    width: 35px;
    height: 35px;
}

hr {
    margin: 0;
}

.Nav a {
    color: black;
    text-decoration: none;
}